# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs/Aroma1997Core-1.12.2-1.3.0.2.jar
libs/Aroma1997s-Dimensional-World-1.12-1.3.0.0.b37.jar
libs/jei_1.12.2-4.8.5.147.jar
libs/OreSpawn-1.12-3.2.2.113 (1).jar
libs/BaseMetals-1.12-2.5.0-beta4.145.jar
libs/BaseMetals-1.12-2.5.0-beta4.145-sources.jar
libs/World-Stripper-1.5.1-1.12.2.jar
